<img align="left" src="https://weclouddata.s3.amazonaws.com/images/logos/wcd_logo_new_2.png"  width='15%'>
<br></br><br></br>

<h1 align="left"> Data Fundamentals Course - Python Lecture 2 </h1>

### Objectives
- Learn how to work with python data types list, set, dictionary, tuple
- Learn python control flows such as if-else and for loops
- Expand the scope of OpenAI exercise 1 to include file reading, parsing, and loops. 


### Python Concepts
- List
- Set
- Dictionary
- Tuple
- Reading files using open()
- Control Flow: For Loop
- Control Flow: IF-ELSE


### Demo/Exercise
- Sentiment Classification


### Python Libraries Used

> ```!pip install openai  ```  
> ```!pip install vaderSentiment ```

---
<br>

## üöó Lab Recap

In lesson 1, we learned python basic syntax and worked with openai to submit prompt and get a response. 

Key concepts to review:
- Everything in python is an object
- Objects have attributes and methods
- Python has built-in functions
- Python has keywords that cannot be used as variable names
- String data type has methods such as replace, count, etc.

---

## üêç Data Type: List

#### Create a List

In [4]:
learning_plan = []

In [2]:
learning_plan[0] = '1. Learn Python'

NameError: name 'learning_plan' is not defined

> wait. what?..

In [43]:
learning_plan = [''] * 5

In [44]:
learning_plan

['', '', '', '', '']

In [45]:
learning_plan[0] = '1. learn python'

In [46]:
learning_plan

['1. learn python', '', '', '', '']

In [6]:
learning_plan = [
    '1. learn sql',
    '2. learn python',
    '3. learn data wrangling',
    '4. learn machine learning'
]

> there gotta be a better way of adding elements to python?

#### Access elements in a list

In [48]:
learning_plan[2]

'3. learn data wrangling'

#### List is mutable

In [49]:
learning_plan[2] = '3. learn pandas dataframe'

#### List can be extended

In [8]:
learning_plan.append('5. learn big data')

In [51]:
learning_plan

['1. learn sql',
 '2. learn python',
 '3. learn pandas dataframe',
 '4. learn machine learning',
 '5. learn big data']

#### Extending a list with a list

In [10]:
learning_plan.extend(['6. deep learning', '7. leetcode'])

In [12]:
learning_plan

['1. learn sql',
 '2. learn python',
 '3. learn data wrangling',
 '4. learn machine learning',
 '5. learn big data',
 '6. deep learning',
 '7. leetcode']

In [14]:
learning_plan + ['8. generative ai', '9. cloud engineering']

['1. learn sql',
 '2. learn python',
 '3. learn data wrangling',
 '4. learn machine learning',
 '5. learn big data',
 '6. deep learning',
 '7. leetcode',
 '8. generative ai',
 '9. cloud engineering']

#### List can accept heterogeneous types of data as elements

In [55]:
learning_plan.append(('customer churn use case', 'forecasting use case'))

In [56]:
learning_plan.append({'capstone projects': 2, 'use cases': 10})

In [57]:
learning_plan

['1. learn sql',
 '2. learn python',
 '3. learn pandas dataframe',
 '4. learn machine learning',
 '5. learn big data',
 '6. deep learning',
 '7. leetcode',
 ('customer churn use case', 'forecasting use case'),
 {'capstone projects': 2, 'use cases': 10}]

#### Other list methods

In [102]:
dir(learning_plan)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [16]:
# pop - delete element by index
learning_plan.pop(-1)

'7. leetcode'

In [18]:
learning_plan.pop(-1)

'6. deep learning'

In [20]:
learning_plan

['1. learn sql',
 '2. learn python',
 '3. learn data wrangling',
 '4. learn machine learning',
 '5. learn big data']

In [22]:
# remove - delete the first occurrence
learning_plan.remove('1. learn sql')

In [24]:
learning_plan

['2. learn python',
 '3. learn data wrangling',
 '4. learn machine learning',
 '5. learn big data']

In [26]:
# reverse
learning_plan.reverse()
print(learning_plan)

['5. learn big data', '4. learn machine learning', '3. learn data wrangling', '2. learn python']

In [28]:
learning_plan.reverse()
print(learning_plan)

['2. learn python', '3. learn data wrangling', '4. learn machine learning', '5. learn big data']

In [32]:
# sort
learning_plan.sort()

In [38]:
learning_plan.sort(reverse=True)

In [40]:
learning_plan

['5. learn big data',
 '4. learn machine learning',
 '3. learn data wrangling',
 '2. learn python']

---

## üêç Data Type: Tuple

#### Create a tuple

In [44]:
learning_plan_tuple = (
    '1. learn sql',
    '2. learn python',
    '3. learn pandas dataframe',
    '4. learn machine learning',
    '5. learn big data'
)

#### Access a tuple

In [98]:
learning_plan_tuple[3]

'4. learn machine learning'

In [99]:
learning_plan_tuple[-1]

'5. learn big data'

#### Tuple is immutable

In [100]:
learning_plan_tuple[0] = '1. learn sql'

TypeError: 'tuple' object does not support item assignment

In [46]:
learning_plan_tuple

('1. learn sql',
 '2. learn python',
 '3. learn pandas dataframe',
 '4. learn machine learning',
 '5. learn big data')

In [48]:
learning_plan_tuple[0]

'1. learn sql'

#### Tuple methods

In [51]:
t = (1, 2, 3, 2, 1, 5, 8)

In [127]:
dir(t)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [53]:
switch_to_ds = [
    ('1. learn sql', 1),
    ('2. learn python', 2),
    ('3. learn pandas dataframe', 1),
    ('4. learn machine learning', 3),
    ('5. learn big data', 3),
    ('6. capstone projects', 3)
]

In [123]:
switch_to_ds.index(('1. learn sql', 1))

0

In [125]:
switch_to_ds.count(('1. learn sql', 1))

1

## üêç Data Type: Set

#### Creating a set

In [55]:
s = {1,2,3}

In [57]:
s

{1, 2, 3}

#### Accessing a set

In [135]:
s[1]

TypeError: 'set' object is not subscriptable

#### Set doens't accept duplicates

In [59]:
s = {1, 3, 3, 3, 2}

In [61]:
s

{1, 2, 3}

#### Using set for de-duping

In [63]:
popular_ds_skills = ['python', 'sql', 'ml', 'visualization']
popular_de_skills = ['python', 'sql', 'spark', 'aws']

In [65]:
common_data_skills = popular_ds_skills + popular_de_skills

In [67]:
common_data_skills

['python', 'sql', 'ml', 'visualization', 'python', 'sql', 'spark', 'aws']

In [140]:
set(common_data_skills)

{'aws', 'ml', 'python', 'spark', 'sql', 'visualization'}

In [69]:
list(set(common_data_skills))

['sql', 'python', 'visualization', 'spark', 'aws', 'ml']

#### Set methods

In [136]:
dir(s)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [ ]:
set.

## üêç Data Type: Dictionary

#### Creating a dictionary

In [75]:
job_success_key_factors = {
    'coding': ['python', 'sql'], 
    'data': ['pandas', 'visualization'],
    'ml': ['regression', 'classification'],
    'business': ['communications', 'project management']
}

In [77]:
# get the keys
job_success_key_factors.keys

In [79]:
job_success_key_factors.keys()

dict_keys(['coding', 'data', 'ml', 'business'])

In [148]:
# get values
job_success_key_factors.values()

dict_values([['python', 'sql'], ['pandas', 'visualization'], ['regression', 'classification'], ['communications', 'project management']])

In [151]:
job_success_key_factors.items()

dict_items([('coding', ['python', 'sql']), ('data', ['pandas', 'visualization']), ('ml', ['regression', 'classification']), ('business', ['communications', 'project management'])])

#### Accessing keys and values

In [81]:
job_success_key_factors['coding']

['python', 'sql']

In [83]:
# when the key is not set
job_success_key_factors['career']

KeyError: 'career'

In [85]:
# here's how you can avoid KeyError
job_success_key_factors.get()

#### Updating values of a dictionary

In [110]:
type(job_success_key_factors['coding'])

list

In [112]:
job_success_key_factors['coding'].append('linux')

In [114]:
job_success_key_factors

{'coding': ['python', 'sql', 'pyspark', 'linux', 'linux'],
 'data': ['pandas', 'visualization'],
 'ml': ['regression', 'classification'],
 'business': ['communications', 'project management']}

In [108]:
job_success_key_factors.update({'coding': ['python', 'sql', 'pyspark', 'linux']})

In [102]:
job_success_key_factors

{'coding': ['python', 'sql', 'pyspark', 'linux'],
 'data': ['pandas', 'visualization'],
 'ml': ['regression', 'classification'],
 'business': ['communications', 'project management']}

## üêç Control Flow: Loops

### 1. for loop

> Question: what is the total number of months it takes to become a self-taught data scientist?

In [74]:
switch_to_ds = [
    ('1. learn sql', 1),
    ('2. learn python', 2),
    ('3. learn pandas dataframe', 1),
    ('4. learn machine learning', 3),
    ('5. learn big data', 3),
    ('6. capstone projects', 3)
]

In [75]:
for todo in switch_to_ds:
    print(todo)

('1. learn sql', 1)
('2. learn python', 2)
('3. learn pandas dataframe', 1)
('4. learn machine learning', 3)
('5. learn big data', 3)
('6. capstone projects', 3)

**Take 1**

In [119]:
time_total = 0
for todo in switch_to_ds:
    time_todo = todo[1]
    #print(time_todo)
    time_total += time_todo

print(time_total)

13

In [121]:
print(time_total)

13

**Take 2**

In [126]:
months = []
for todo in switch_to_ds:
    time_todo = todo[1]
    #print(time_todo)
    months.append(time_todo)

print(months)

[1, 2, 1, 3, 3, 3]

In [128]:
months = []
for todo in switch_to_ds:
    time_todo = todo[1]
    #print(time_todo)
    months.append(time_todo)

sum(months)

13

**String formatting**

In [132]:
# print using string.format()
print("total number of months: {total_months}".format(total_months=sum(months)))

total number of months: 13

In [136]:
#or 
print("total number of months: {}".format(sum(months)))

total number of months: 13

In [87]:
# print using f-string
print(f"total number of months: {sum(months)}")

total number of months: 13

### 2. list comprehension

In [142]:
{'k' : todo[1] for todo in switch_to_ds}

{'k': 3}

# üß™ Exercise: Sentiment Analysis (round 2)

## 1. Sentiment Analysis using vader library

#### Objective
> 1. Read the `ds_career_guide.txt`  
> 2. Print the number of characters per row  
> 3. Use openai to summarize each row  
> 4. Print the summarized career guide

In [167]:
import os
import openai

openai.api_key = os.getenv("OPENAI_API_KEY")

In [168]:
cg = open('ds_career_guide.txt')

In [169]:
for line in cg:
    print(len(line))

6771
11567
4606
13693
7567
7171
16809

In [170]:
import os
import openai

openai.api_key = os.getenv("OPENAI_API_KEY")

cg = open('ds_career_guide.txt')
line = cg.readlines()[0]
prompt = "Summarize this for a learner who wants to become a data scientist: " + line
response = openai.Completion.create(
  model="text-davinci-003",
  prompt=prompt,
  temperature=1,
  max_tokens=64,
  top_p=1.0,
  frequency_penalty=0.0,
  presence_penalty=0.0

In [10]:
import os
import openai

openai.api_key = os.getenv("OPENAI_API_KEY")

cg = open('ds_career_guide.txt')
responses = []

for line in cg.readlines():
    prompt = "Summarize this for a learner who wants to become a data scientist: " + line
    response = openai.Completion.create(
      model="text-davinci-003",
      prompt=prompt,
      temperature=1,
      max_tokens=64,
      top_p=1.0,
      frequency_penalty=0.0,
      presence_penalty=0.0
    )
    responses.append(response.choices[0].text)

In [11]:
responses

['\nData Science is an interdisciplinary field of acquiring, managing, and analyzing data in order to uncover insights and make better decisions. It involves the scientific method, mathematics, programming, advanced analytics, AI, storytelling, and other practices to draw meaningful conclusions from data.  Data Science lifecycle steps include understanding the business challenges',
 '\nData Scientists are experts in mathematics, statistics, programming, and machine learning algorithms, but they also need good communication skills and interpersonal skills to present and communicate data and insights. There are four main types of Data Scientists: Operational Data Scientist, ML Researcher, ML Engineer, and Data Product (Owner) Manager.',
 'Data scientists have many potential career paths depending on their interests and skills. These include the technical track, managerial track, startups, product, and consulting. Technical roles involve becoming a lead or senior data scientist, machine learning engineer, or data engineer. Managerial roles involve leading a team of data scientists as a manager or senior',
 '\nData Science can be overwhelming to learn as it involves many different skill sets, such as Python, SQL, R, Spark, Tableau, NoSQL, etc. The first steps to learning Data Science is to focus on the essential skills. Start by learning the basics such as SQL and Python, which are critical to',
 '\nData science is an in-demand and lucrative career path with great growth opportunities. Skills like Python, SQL and knowledge of Big Data technologies, ML frameworks and different databases are needed to be a successful data scientist. There is a high competition for jobs, with salary depending largely on experience. Beginners with less than 2',
 '\nTo become a data scientist, career switchers will need to have project experience to stand out in the job market. This means building a portfolio that showcases their practical skills including personal projects, data pipeline diagrams, project summaries, working notebooks and scripts, visualizations, github code and blogs. They should also consider',
 '\nBecoming a data scientist requires persistent effort, from learning the necessary skills and building a well-structured resume to putting the time and effort into researching job postings, applying and interviewing for jobs, and networking. It also takes practice, for example doing coding-challenges, take-home assignments, and mock interviews']